/* body{
    background-color: rgb(18, 16, 14);
} */

body {
    font-family: sans-serif;
  }
  
header {
    background-color: #000;
    color: #fff;
    padding: 1rem;
  }
  
nav {
    text-align: right;
  }
  
nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
  }
  
  main {
    padding: 1rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  a {
    color: #000;
    text-decoration: underline;
  }
  
  footer {
    background-color: #ccc;
    text-align: center;
    padding: 1rem;
  }
  